body{
  background-color: grey;
 
}
/*img{
  width: 200px;
  height: 200px;
}
img 1{
  width: 200px;
  height: 200px;
}
img 2{
  width: 200px;
  height: 200px;
}

#press btn{
  width: 200px;
  height: 200px;
}*/
